@import '@fontsource/ubuntu/400.css';
@import '@fontsource/ubuntu/500.css';
@import '@fontsource/roboto/400.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  min-width: 100%;
  min-height: 100%; 
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
